<app-header></app-header>
<div class="ml-[550px] mb-5">
  <h1 class="font-bold text-4xl">Register</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <input
        class="rounded-[5px] mb-2 font-bold focus:outline-none h-9 w-[50%] bg-yellow-500"
        type="Text"
        placeholder="Name"
        formControlName="name"
      />
      <div
        *ngIf="
          userForm['controls']['name'].dirty &&
          userForm['controls']['name'].errors
        "
      >
        <small
          class="text-red-600 font-medium text-sm"
          *ngIf="userForm['controls']['name'].errors['required']"
          >Tên không được để trống
        </small>
      </div>
    </div>
    <div>
      <input
        class="rounded-[5px] font-bold mb-2 focus:outline-none h-9 w-[50%] bg-yellow-500"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <div
        *ngIf="
          userForm['controls']['email'].dirty &&
          userForm['controls']['email'].errors
        "
      >
        <small
          class="text-red-600 font-medium text-sm"
          *ngIf="userForm['controls']['email'].errors['email']"
          >Email phải đúng định dạng
        </small>
      </div>
    </div>
    <div>
      <input
        class="rounded-[5px] font-bold mb-2 focus:outline-none h-9 w-[50%] bg-yellow-500"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <div
        *ngIf="
          userForm['controls']['password'].dirty &&
          userForm['controls']['password'].errors
        "
      >
        <small
          class="text-red-600 font-medium text-sm"
          *ngIf="userForm['controls']['password'].errors['minlength']"
          >Password không nhỏ hơn 8 ký tự
        </small>
      </div>
    </div>

    <button
      class="bg-blue-600 w-[50.5%] h-9 rounded-[6px] text-white font-medium"
      (click)="refresh()"
      [disabled]="userForm.invalid"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
<app-footer></app-footer>
