<section
  class="self-stretch bg-aliceblue-100 flex flex-col items-start justify-start py-[42px] px-[60px] box-border gap-[41px] max-w-full text-left text-10xl-4 text-steelblue-700 font-poppins mq800:gap-[20px] mq800:py-[27px] mq800:px-[30px] mq800:box-border"
>
  <div
    class="self-stretch rounded-xl bg-white flex flex-row items-center justify-between py-[38px] px-[95.5px] box-border max-w-full gap-[20px] mq800:pl-[23px] mq800:pr-[23px] mq800:box-border mq1325:flex-wrap mq1325:pl-[47px] mq1325:pr-[47px] mq1325:box-border"
  >
    <b class="relative mq450:text-5xl">Subscribe newsletter</b>
    <div
      class="w-[673px] flex flex-row items-center justify-center gap-[88px] max-w-full text-sm text-white mq800:flex-wrap mq800:gap-[44px] mq450:gap-[22px]"
    >
      <div
        class="flex-1 rounded-xl bg-b flex flex-row items-center justify-start pt-5 pb-[19px] pr-[21px] pl-[25px] box-border relative gap-[10px] min-w-[101px] min-h-[63px] whitespace-nowrap max-w-full"
      >
        <input
          type="text"
          class="relative font-semibold inline-block min-w-[101px] bg-b focus:outline-none h-[90%] w-[67.2%] rounded-md"
          placeholder="Email address"
        />

        <img
          class="h-6 w-6 absolute !m-[0] top-[20px] left-[343px] hover:scale-150 duration-300"
          alt=""
          src="../../../assets/vuesaxlinearsend21.svg"
        />
      </div>
      <div
        class="flex flex-row items-center justify-center gap-[20px] text-dimgray-100"
      >
        <img
          class="h-[45px] w-[45px] relative min-h-[45px]"
          loading="lazy"
          alt=""
          src="../../../assets/vuesaxlinearheadphone.svg"
        />

        <div class="relative font-semibold">
          <p class="m-0">Call us 24/7 :</p>
          <p class="m-0">(+62) 0123 567 789</p>
        </div>
      </div>
    </div>
  </div>
  <footer
    class="self-stretch flex flex-row items-start justify-start py-0 pr-[3px] pl-[3.5px] box-border max-w-full text-left text-base-4 text-steelblue-700 font-poppins"
  >
    <div
      class="flex-1 flex flex-row flex-wrap items-start justify-start gap-[80px] max-w-full mq800:gap-[40px] mq450:gap-[20px]"
    >
      <div
        class="w-[250px] flex flex-col items-start justify-start gap-[41px] mq450:gap-[20px]"
      >
        <img
          class="w-[140px] h-[39px] relative object-cover"
          loading="lazy"
          alt=""
          src="../../../assets/logo1-1@2x.png"
        />

        <div
          class="self-stretch flex flex-col items-start justify-start gap-[36px] mq450:gap-[18px]"
        >
          <div class="relative">
            <p class="m-0">64 st james boulevard</p>
            <p class="m-0">hoswick , ze2 7zj</p>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[22px]"
          >
            <div
              class="self-stretch h-px relative box-border border-t-[1px] border-solid border-darkgray-500"
            ></div>
            <div
              class="w-[146px] flex flex-row items-start justify-between gap-[20px]"
            >
              <img
                class="h-6 w-6 relative min-h-[24px] hover:scale-150 duration-300"
                loading="lazy"
                alt=""
                src="../../../assets/vuesaxlineargoogle.svg"
              />

              <img
                class="h-6 w-6 relative min-h-[24px] hover:scale-150 duration-300"
                loading="lazy"
                alt=""
                src="../../../assets/vuesaxlinearfacebook.svg"
              />

              <img
                class="h-6 w-6 relative min-h-[24px] hover:scale-150 duration-300"
                loading="lazy"
                alt=""
                src="../../../assets/vuesaxlinearwhatsapp.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex-1 flex flex-row items-start justify-between min-w-[639px] max-w-full gap-[20px] text-lgi-4 mq800:flex-wrap mq1125:min-w-full"
      >
        <div class="flex flex-col items-start justify-start gap-[14.6px]">
          <div class="relative font-semibold inline-block min-w-[125px]">
            Find product
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Brownze arnold</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Chronograph blue</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Smart phones</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[11px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="h-[29px] relative inline-block">Automatic watch</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Hair straighteners</div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start gap-[14.6px]">
          <div class="relative font-semibold inline-block min-w-[83px]">
            Get help
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[86px]">About us</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[107px]">Contact us</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[126px]">Return policy</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Privacy policy</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Payment policy</div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start gap-[14.6px]">
          <div class="relative font-semibold inline-block min-w-[88px]">
            About us
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[52px]">News</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[71px]">Service</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[98px]">Our policy</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative">Custmer care</div>
          </div>
          <div class="flex flex-row items-start justify-start gap-[12px]">
            <div
              class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0"
            >
              <div
                class="w-2.5 h-2.5 relative rounded-[50%] bg-gainsboro-200"
              ></div>
            </div>
            <div class="relative inline-block min-w-[51px]">Faq’s</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
