<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../styles.css" />
  </head>
  <body>
    <div
      class="w-full relative bg-white overflow-hidden flex flex-col items-end justify-start pt-[21px] px-0 box-border leading-[normal] tracking-[normal] text-left text-sm text-darkslategray-700 font-poppins"
    >
      <div
        class="w-[1428px] flex flex-row items-start justify-end pt-0 px-[49px] pb-[29px] box-border max-w-full mq800:pl-6 mq800:pr-6 mq800:box-border"
      >
        <div
          class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] mq800:flex-wrap"
        >
          <div class="relative">Need help? Call us: (+98) 0234 456 789</div>

          <div
            class="flex flex-row items-center justify-center gap-[36px] mq450:gap-[18px]"
          >
            <div class="flex flex-row items-center justify-center gap-[20px]">
              <img
                class="h-6 w-6 relative min-h-[24px]"
                alt=""
                src="../../../assets/vuesaxlinearlocation.svg"
              />

              <div class="relative inline-block min-w-[65px]">Our store</div>
            </div>
            <div class="flex flex-row items-center justify-center gap-[19px]">
              <img
                class="h-6 w-6 relative min-h-[24px]"
                alt=""
                src="../../../assets/vuesaxlineargroup.svg"
              />

              <div class="relative inline-block min-w-[115px]">
                Track your order
              </div>
            </div>
          </div>
        </div>
      </div>
      <header
        class="self-stretch h-[100px] bg-a flex flex-row items-center justify-between py-[22px] px-[67.8px] box-border top-[0] z-[99] sticky max-w-full gap-[20px] text-left text-sm text-darkslategray-700 font-poppins mq800:pl-[34px] mq800:pr-[34px] mq800:box-border"
      >
        <div
          class="self-stretch w-[663px] flex flex-row items-center justify-center gap-[85px] max-w-full mq450:gap-[21px] mq800:gap-[42px]"
        >
          <img
            class="h-[39px] w-[140px] relative object-contain"
            loading="lazy"
            alt=""
            src="../../../assets/logo-1@2x.png"
          />

          <div
            class="self-stretch bg-white flex-1 rounded-xl flex flex-row items-center justify-start py-0 pr-0 pl-[25px] box-border relative gap-[10px] max-w-full"
          >
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
              <div
                class="relative inline-block min-w-[127px] whitespace-nowrap"
              >
                <input
                  type="text"
                  placeholder="Serach any things"
                  formControlName="keywords"
                />
              </div>
              <button
                type="submit"
                class="bg-[#EDA415] cursor-pointer [border:none] py-[17.5px] px-[41px] !m-[0] absolute top-[0px] left-[306px] rounded-xl flex flex-row items-center justify-center hover:bg-darkgoldenrod"
              >
                <div
                  class="relative text-sm font-semibold font-poppins text-white text-left inline-block min-w-[50px]"
                >
                  Search
                </div>
              </button>
            </form>
          </div>
        </div>
        <div
          class="flex flex-row items-center justify-center gap-[29px] max-w-full text-3xs-5 text-white"
        >
          <div
            class="flex flex-row items-center justify-center gap-[12px] text-sm"
          >
            <img
              class="h-6 w-6 relative min-h-[24px]"
              alt=""
              src="../../../assets/vuesaxlinearuser.svg"
            />

            <div class="relative inline-block min-w-[47px] whitespace-nowrap">
              <a class="no-underline text-white" href="/register">Sign up </a>
            </div>
          </div>
          <div class="flex flex-row items-center justify-center gap-[12px]">
            <div class="flex flex-row items-center justify-center gap-[3px]">
              <img
                class="h-6 w-6 relative"
                alt=""
                src="../../../assets/vuesaxlinearheart.svg"
              />
            </div>
            <div
              class="relative text-sm inline-block min-w-[47px] whitespace-nowrap"
            >
              <a class="no-underline text-white" href="admin">Admin</a>
            </div>
          </div>
          <div class="flex flex-row items-center justify-center gap-[12px]">
            <a
              href="/carts"
              class="flex flex-row items-center justify-center gap-[3px]"
            >
              <img
                class="h-6 w-6 relative"
                alt=""
                src="../../../assets/vuesaxlinearshoppingcart.svg"
              />

              <div
                class="rounded-[394.74px] text-white no-underline bg-b flex flex-col items-center justify-center py-[0.5px] px-[4.1px]"
              >
                <div class="relative inline-block min-w-[6px]">0</div>
              </div>
            </a>
            <a
              href="/carts"
              class="text-white no-underline relative text-sm inline-block min-w-[31px]"
              >Cart</a
            >
          </div>
        </div>
      </header>
      <div
        class="self-stretch flex flex-col items-start justify-start max-w-full"
      >
        <div
          class="self-stretch bg-whitesmoke-100 flex flex-row flex-wrap items-center justify-center py-[0.5px] px-[63px] box-border gap-[98px] max-w-full z-[3] mq450:gap-[24px] mq800:gap-[49px] mq800:pl-[31px] mq800:pr-[31px] mq800:box-border"
        >
          <div
            class="bg-b flex flex-row items-center justify-center py-[23px] px-[14.5px] gap-[16px] whitespace-nowrap"
          >
            <div class="relative font-medium">Browse categories</div>
            <img
              class="h-6 w-6 relative min-h-[24px]"
              alt=""
              src="../../../assets/vuesaxlineararrowdown.svg"
            />
          </div>
          <div
            class="flex-1 flex flex-row items-center justify-between py-5 px-0 box-border min-w-[649px] max-w-full gap-[20px] text-darkslategray-400 mq800:flex-wrap mq1150:min-w-full"
          >
            <div
              class="flex flex-row items-center justify-center gap-[29px] max-w-full mq800:flex-wrap"
            >
              <div class="flex flex-row items-center justify-center gap-[16px]">
                <a
                  href=""
                  class="relative font-medium inline-block min-w-[48px] no-underline text-black hover:text-firebrick-100"
                >
                  Home
                </a>
                <img
                  class="h-6 w-6 relative min-h-[24px]"
                  alt=""
                  src="../../../assets/vuesaxlineararrowdown-1.svg"
                />
              </div>
              <div class="flex flex-row items-center justify-center gap-[16px]">
                <a
                  href="/products"
                  class="relative font-medium inline-block min-w-[66px] no-underline text-black hover:text-firebrick-100"
                >
                  Product
                </a>
                <img
                  class="h-6 w-6 relative min-h-[24px]"
                  alt=""
                  src="../../../assets/vuesaxlineararrowdown-1.svg"
                />
              </div>
              <div class="flex flex-row items-center justify-center">
                <div class="relative font-medium inline-block min-w-[36px]">
                  Blog
                </div>
              </div>
              <div class="flex flex-row items-center justify-center gap-[16px]">
                <div class="relative font-medium inline-block min-w-[50px]">
                  Pages
                </div>
                <img
                  class="h-6 w-6 relative min-h-[24px]"
                  alt=""
                  src="../../../assets/vuesaxlineararrowdown-1.svg"
                />
              </div>
              <div class="flex flex-row items-center justify-center">
                <div class="relative font-medium inline-block min-w-[72px]">
                  About us
                </div>
              </div>
            </div>
            <b class="relative text-a">30 Days Free Return</b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
