<app-header></app-header>
<div
  class="self-stretch bg-gray-100 flex flex-row items-start justify-start py-[26px] px-[63px] box-border gap-[15.3px] max-w-full mt-[-1px] text-darkslategray-400 mq450:flex-wrap mq450:justify-center mq450:pl-5 mq450:pr-5 mq450:box-border"
>
  <div class="h-[76px] w-[1440px] relative bg-gray-100 hidden max-w-full"></div>
  <div class="relative font-medium inline-block min-w-[48px] z-[1]">Home</div>
  <img
    class="h-6 w-6 relative object-contain min-h-[24px] z-[1]"
    alt=""
    src="../../../assets/vuesaxlineararrowdown-4@2x.png"
  />

  <div class="relative font-medium inline-block min-w-[97px] z-[1]">
    All category
  </div>
  <img
    class="h-6 w-6 relative object-contain min-h-[24px] z-[1]"
    alt=""
    src="../../../assets/vuesaxlineararrowdown-4@2x.png"
  />
</div>
<div
  class="self-stretch flex flex-row items-start justify-start py-0 px-[61px] box-border max-w-full text-3xl-7 text-darkslategray-600 mq800:pl-[30px] mq800:pr-[30px] mq800:box-border"
>
  <div
    class="flex-1 flex flex-row items-start justify-start gap-[20px] max-w-full mq1325:flex-wrap mb-14"
  >
    <div
      class="flex-1 flex flex-col items-start justify-start gap-[30px] max-w-full mq800:min-w-full"
    >
      <div
        class="self-stretch flex flex-col items-end justify-start gap-[26px] max-w-full"
      >
        <div
          class="bg-aliceblue-100 self-stretch bg-aliceblue flex flex-row items-start justify-between pt-2.5 pb-[15px] pr-[86px] pl-[34px] box-border max-w-full gap-[20px] text-xl-7 text-gray-700 mq800:flex-wrap mq1125:pr-[43px] mq1125:box-border mq450:pr-5 mq450:box-border"
        >
          <div
            class="h-14 w-[872px] relative bg-aliceblue hidden max-w-full"
          ></div>
          <div
            class="relative text-xl-7 font-medium font-poppins text-gray-700 min-w-[82px] z-[1] mq450:text-mid"
          >
            Product
          </div>
          <div
            class="w-[420px] flex flex-row items-start justify-start gap-[82px] max-w-full mq450:flex-wrap mq450:gap-[41px]"
          >
            <div
              class="w-[76px] flex flex-col items-start justify-start py-0 pr-5 pl-0 box-border"
            >
              <div
                class="relative text-xl-7 font-medium font-poppins text-gray-700 min-w-[51px] z-[1] mq450:text-mid"
              >
                Price
              </div>
            </div>
            <div
              class="flex-1 relative text-xl-7 font-medium font-poppins text-gray-700 min-w-[59px] z-[1] mq450:text-mid"
            >
              Quantity
            </div>
            <div
              class="flex-1 relative text-xl-7 font-medium font-poppins text-gray-700 min-w-[59px] z-[1] mq450:text-mid"
            >
              Subtotal
            </div>
          </div>
        </div>
        <div
          class="self-stretch flex flex-row items-center justify-between gap-[20px] mq800:flex-wrap"
        >
          <div
            class="w-[285px] flex flex-row items-center justify-center gap-[21px] text-xl-7"
          >
            <img
              class="h-[119px] flex-1 relative rounded-xl max-w-full overflow-hidden object-cover"
              loading="lazy"
              alt=""
              src="../../../assets/6456332-sd-11@2x.png"
            />

            <div class="flex flex-col items-start justify-center gap-[11px]">
              <div
                class="relative font-semibold text-a inline-block min-w-[113px] mq450:text-mid"
              >
                Play game
              </div>
              <div class="relative inline-block min-w-[128px] mq450:text-mid">
                Color: Green
              </div>
              <div class="relative inline-block min-w-[75px] mq450:text-mid">
                Size: 30
              </div>
            </div>
          </div>
          <div
            class="relative font-medium inline-block min-w-[69px] whitespace-nowrap mq450:text-lg"
          >
            $ 11,70
          </div>
          <div
            class="w-[133px] flex flex-row items-center justify-center py-5 px-0 box-border text-lg-2 text-darkslategray-200"
          >
            <div
              class="w-[35px] bg-whitesmoke-200 box-border flex flex-row items-center justify-center py-px px-[11px] border-[1px] border-solid border-silver-300"
            >
              <div class="flex flex-row items-center justify-center">
                <div class="relative font-medium inline-block min-w-[11px]">
                  -
                </div>
              </div>
            </div>
            <div
              class="flex-1 bg-whitesmoke-200 flex flex-row items-center justify-center py-px px-[27px] border-[1px] border-solid border-silver-300"
            >
              <div class="flex flex-row items-center justify-center">
                <div class="relative font-medium inline-block min-w-[7px]">
                  1
                </div>
              </div>
            </div>
            <div
              class="w-[35px] bg-whitesmoke-200 box-border flex flex-row items-center justify-center py-px px-2.5 border-[1px] border-solid border-silver-300"
            >
              <div class="flex flex-row items-center justify-center">
                <div class="relative font-medium inline-block min-w-[13px]">
                  +
                </div>
              </div>
            </div>
          </div>
          <div
            class="relative font-medium inline-block min-w-[69px] whitespace-nowrap mq450:text-lg"
          >
            $ 11,70
          </div>
          <img
            class="h-6 w-6 relative"
            loading="lazy"
            alt=""
            src="../../../assets/vuesaxlinearclosecircle.svg"
          />
        </div>
        <div
          class="self-stretch h-px relative box-border border-t-[1px] border-solid border-silver-200"
        ></div>
        <div
          class="self-stretch flex flex-row items-start justify-end py-0 pr-[3px] pl-0 box-border max-w-full"
        >
          <div
            class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] mq800:flex-wrap"
          >
            <div
              class="flex flex-row items-center justify-center gap-[21px] text-xl-7"
            >
              <img
                class="h-[88px] w-[132px] relative rounded-xl overflow-hidden shrink-0 object-contain"
                loading="lazy"
                alt=""
                src="../../../assets/frame-142@2x.png"
              />

              <div class="flex flex-col items-start justify-center gap-[11px]">
                <div
                  class="relative font-semibold text-a inline-block min-w-[113px] mq450:text-mid"
                >
                  Play game
                </div>
                <div class="relative inline-block min-w-[121px] mq450:text-mid">
                  Color: Black
                </div>
                <div class="relative inline-block min-w-[75px] mq450:text-mid">
                  Size: 30
                </div>
              </div>
            </div>
            <div
              class="relative font-medium inline-block min-w-[69px] whitespace-nowrap mq450:text-lg"
            >
              $ 11,70
            </div>
            <div
              class="w-[133px] flex flex-row items-center justify-center py-5 px-0 box-border text-lg-2 text-darkslategray-200"
            >
              <div
                class="w-[35px] bg-whitesmoke-200 box-border flex flex-row items-center justify-center py-px px-[11px] border-[1px] border-solid border-silver-300"
              >
                <div class="flex flex-row items-center justify-center">
                  <div class="relative font-medium inline-block min-w-[11px]">
                    -
                  </div>
                </div>
              </div>
              <div
                class="flex-1 bg-whitesmoke-200 flex flex-row items-center justify-center py-px px-[27px] border-[1px] border-solid border-silver-300"
              >
                <div class="flex flex-row items-center justify-center">
                  <div class="relative font-medium inline-block min-w-[7px]">
                    1
                  </div>
                </div>
              </div>
              <div
                class="w-[35px] bg-whitesmoke-200 box-border flex flex-row items-center justify-center py-px px-2.5 border-[1px] border-solid border-silver-300"
              >
                <div class="flex flex-row items-center justify-center">
                  <div class="relative font-medium inline-block min-w-[13px]">
                    +
                  </div>
                </div>
              </div>
            </div>
            <div
              class="relative font-medium inline-block min-w-[69px] whitespace-nowrap mq450:text-lg"
            >
              $ 11,70
            </div>
            <img
              class="h-6 w-6 relative"
              alt=""
              src="../../../assets/vuesaxlinearclosecircle.svg"
            />
          </div>
        </div>
        <div
          class="self-stretch h-px relative box-border border-t-[1px] border-solid border-silver-200"
        ></div>
      </div>
      <div
        class="self-stretch flex flex-row items-start justify-start gap-[61px] mq1125:flex-wrap mq1125:gap-[30px] mq450:gap-[15px]"
      >
        <button
          class="cursor-pointer [border:none] py-[19.5px] px-[37px] bg-b rounded-[32.42px] flex flex-row items-start justify-start whitespace-nowrap hover:bg-darkgoldenrod"
        >
          <div
            class="relative text-3xl-7 font-semibold font-poppins text-white text-left"
          >
            Continue shopping
          </div>
        </button>
        <div class="flex flex-col items-start justify-start py-0 pr-[9px] pl-0">
          <button
            class="cursor-pointer py-[18px] px-[41px] bg-[transparent] rounded-[32.42px] flex flex-row items-start justify-start whitespace-nowrap border-[1px] border-solid border-darkgray-300 hover:bg-gray-900 hover:box-border hover:border-[1px] hover:border-solid hover:border-gray-500"
          >
            <div
              class="relative text-3xl-7 font-semibold font-poppins text-gray-400 text-left"
            >
              Update cart
            </div>
          </button>
        </div>
        <button
          class="cursor-pointer py-[18px] px-[53px] bg-[transparent] rounded-[32.42px] flex flex-row items-start justify-start whitespace-nowrap border-[1px] border-solid border-firebrick-100 hover:bg-indianred-200 hover:box-border hover:border-[1px] hover:border-solid hover:border-indianred-100"
        >
          <div
            class="relative text-3xl-7 font-semibold font-poppins text-firebrick-200 text-left inline-block min-w-[115px]"
          >
            Clear cart
          </div>
        </button>
      </div>
    </div>
    <div
      class="w-[426px] box-border flex flex-col items-start justify-start pt-0 px-0 pb-[21px] gap-[21px] min-w-[426px] max-w-full text-base-7 text-gray-700 border-[1px] border-solid border-silver-200 mq800:min-w-full mq1325:flex-1"
    >
      <button
        class="bg-aliceblue-100 cursor-pointer [border:none] py-[12.5px] px-5 bg-aliceblue self-stretch flex flex-row items-start justify-center whitespace-nowrap hover:bg-gainsboro-300"
      >
        <div
          class="relative text-xl-7 font-medium font-poppins text-gray-700 text-left inline-block min-w-[100px]"
        >
          Cart total
        </div>
      </button>
      <div
        class="self-stretch flex flex-row items-start justify-start py-0 pr-[42px] pl-[42.5px] box-border max-w-full mq450:pl-5 mq450:pr-5 mq450:box-border"
      >
        <div
          class="flex-1 flex flex-col items-start justify-start gap-[28px] max-w-full"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[20px] max-w-full"
          >
            <div
              class="self-stretch flex flex-row items-start justify-start gap-[34px] text-lgi-7 mq450:flex-wrap mq450:gap-[17px]"
            >
              <div
                class="flex-1 flex flex-col items-start justify-start pt-0.5 px-0 pb-0 box-border min-w-[113px]"
              >
                <div class="self-stretch relative font-medium">Subtotal</div>
              </div>
              <div
                class="w-[131px] relative text-3xl-7 font-medium text-right inline-block shrink-0 whitespace-nowrap mq450:text-lg"
              >
                $ 23,20
              </div>
            </div>
            <div
              class="self-stretch h-[13px] flex flex-row items-start justify-start pt-0 pb-3 pr-0.5 pl-[3px] box-border max-w-full"
            >
              <div
                class="self-stretch flex-1 relative box-border max-w-full border-t-[1px] border-solid border-darkgray-100"
              ></div>
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-start pt-0 px-[3px] pb-[13px] box-border max-w-full"
            >
              <div
                class="flex-1 rounded-xl box-border flex flex-row items-start justify-between pt-[13px] pb-[9px] pr-[21px] pl-[22px] max-w-full gap-[20px] border-[1px] border-solid border-gainsboro-100 mq450:flex-wrap"
              >
                <input
                  class="relative focus:outline-none"
                  placeholder="Enter coupon code"
                />
                <div
                  class="flex flex-col items-start justify-start pt-[6.5px] px-0 pb-0 text-[14.7px] text-a"
                >
                  <div class="relative font-medium inline-block min-w-[43px]">
                    Apply
                  </div>
                </div>
              </div>
            </div>
            <div
              class="self-stretch h-[13px] flex flex-row items-start justify-start pt-0 pb-3 pr-0.5 pl-[3px] box-border max-w-full"
            >
              <div
                class="self-stretch flex-1 relative box-border max-w-full border-t-[1px] border-solid border-darkgray-100"
              ></div>
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-start py-0 px-[3px] box-border max-w-full"
            >
              <div
                class="flex-1 rounded-xl box-border flex flex-row items-start justify-between pr-6 pl-[22px] max-w-full gap-[20px] border-[1px] border-solid border-gainsboro-100"
              >
                <select
                  class="focus:outline-none relative inline-block w-[700px] h-[40px] text-sm"
                >
                  <option value="0">Country</option>
                  <option value="1 ">Viet Nam</option>
                  <option value="2">America</option>
                  <option value="3">Italiano</option>
                </select>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start gap-[34px] mq450:flex-wrap mq450:gap-[17px]"
          >
            <div
              class="flex-1 flex flex-col items-start justify-start pt-[1.5px] px-0 pb-0 box-border min-w-[113px]"
            >
              <div class="self-stretch relative">Total amount</div>
            </div>
            <div
              class="w-[131px] relative text-[18.7px] text-right inline-block shrink-0 whitespace-nowrap"
            >
              $ 23,20
            </div>
          </div>
          <button
            class="cursor-pointer [border:none] py-[10.5px] px-[62px] bg-b self-stretch rounded-[32.42px] flex flex-row items-start justify-start whitespace-nowrap hover:bg-darkgoldenrod mq450:pl-5 mq450:pr-5 mq450:box-border"
          >
            <div
              class="relative text-xl-7 font-semibold font-poppins text-white text-left"
            >
              Proceed to checkout
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
